<div class="step-bar">
    <span class="current-step" ng-bind="getTitle()"></span>
    <span class="all-steps">Paso <span ng-bind="steps.currentStep"></span> de <span ng-bind="stepsLenght"></span></span>
</div>