//$background: #f5f6fa;
$background: rgb(47, 77, 47);
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #4b4a4a;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;
h2 {
    margin-bottom: 80px;
}

.loader {
    background-image: url(../img/loading.gif);
    width: 256px;
    height: 256px;
    margin: auto;
}

input.ng-invalid-custom, select.ng-invalid-custom, textarea.ng-invalid-custom {
    border-bottom: 1px solid red; 
   // box-shadow: 0px 0px 6px rgb(206, 206, 206);   
}

.container {
    border: 1px solid #616060;
    padding: 50px;
    margin-bottom: 50px;
    background: whitesmoke;
    @media(max-width: 768px) {
        padding:20px;
    }
}

.errorMsg {
    font: 0.9rem "PT Sans", sans-serif;
    color: red;
    text-align: left;

}

:root {
    background: $background;
    color: $text;
    font: 1rem "PT Sans", sans-serif;
}

html,
body,
a {
    color: inherit;
    &:hover {
        //color: $button-bg-color;
    }
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.right {
    float: right;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    &--primary {
        background: $button-bg-color;
        color: $button-text-color;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
        border-radius: 2px;
        padding: 12px 36px;
        &:hover {
            background: darken($button-bg-color, 4%);
        }
        &:active {
            background: $button-bg-color;
            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
        }
    }
}

.form {
    &__field {
        background: #fff;
        color: $input-text-color;
        font: inherit;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
        border: 0;
        outline: 0;
        padding: 22px 18px;
        width: 360px;
        @media(max-width: 480px) {
            width: 80%;
        }
    }
    .form-item {
        margin-bottom: 30px;
    }
    select {
        width: 100%;
        @media(max-width: 480px) {
            width: 95%;
        }
    }
    .buttons {
        margin: 60px 0;
    }
}

.step-bar {
    margin: 40px 0 20px 0;
    .current-step {
        font-family: "Tahoma";
        color: #adadad;
        text-transform: uppercase;
        font-weight: bold;
    }
    .all-steps {
        font-weight: bold;
        float: right;
        color: #bdbdbd;
    }
}