.main-form {
    width: 90%;
    margin: auto;
    .step1 {
        text-align: center;
        .btn{
            @media(max-width: 768px){
                width:90%;
                display: block;
                margin: auto;
                margin-top: 30px;
                float: none;
            }
        }
    }
}