.step3 {
    text-align: center;
    textarea {
        resize: none;

    }
    .buttons {
        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        .btn {
            
            @media(max-width: 768px) {
                width:90%;
                display: block;
                margin: auto;
                margin-top: 30px;
            }
        }
    }
}