.step2 {
    
.form-item{
    width: 500px;
}
    .buttons {
        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        .btn {
            
            @media(max-width: 768px) {
                width:90%;
                display: block;
                margin: auto;
                margin-top: 30px;
            }
        }
    }
    select {
        
        @media(max-width: 480px) {
            width: 80%;
        }
        @media(max-width: 768px) {
            margin-left: 8px;
            width: 95%;
        }
    }
}