<section class="main-form">
    <h1>Contacto</h1>
    <p>Completá con tus datos y tu consulta y te contactaremos a la brevedad</p>
    <div step-bar steps="basectrl.steps"></div>
    <div ui-view></div>

</section>