<div class="step2">
    <div ng-if="step2.operations.loading" class="loader"></div>
    <section class="content container" ng-if="!step2.operations.loading">
        <h2>Seleccioná Facultad Carrera y Sede de la cual deseas informarte</h2>

        <form name="formStep2" novalidate ng-submit="step2.goStep3(formStep2)" class="form">
            <div class="form-item">
                <select name="facs" class="form__field" ng-model="step2.operations.formStep2.facSelected" ng-blur="step2.onFieldsBlur()"
                    ng-options="option.id as option.value for option in step2.operations.facs" ng-change="step2.loadCarreers()"
                    required validate-me>
                    <option value="" disabled selected>Seleccioná Facultad</option>
                </select>

            </div>

            <div class="form-item">
                <select name="carreers" class="form__field" ng-model="step2.operations.formStep2.carreerSelected"
                    ng-blur="step2.onFieldsBlur()" ng-disabled="step2.disableCareers()" ng-options="option as option for option in step2.operations.carreers"
                    required validate-me>
                    <option value="" disabled selected>Seleccioná Carrera</option>
                </select>
            </div>

            <div class="form-item">
                <select name="location" class="form__field" ng-model="step2.operations.formStep2.locationSelected"
                    ng-blur="step2.onFieldsBlur()" ng-options="option.id as option.value for option in step2.operations.locations"
                    required validate-me>
                    <option value="" disabled selected>Seleccioná Sede</option>

                </select>
            </div>

            <div class="buttons">
                <button class="btn btn--primary btn--inside uppercase" type="button" ng-click="step2.goStep1()">Volver</button>
                <button class="btn btn--primary btn--inside uppercase" type="submit">Siguiente</button>
            </div>

        </form>

    </section>
</div>