<div class="step1">
    <div ng-if="step1.operations.loading" class="loader"></div>
    <section class="content container" ng-if="!step1.operations.loading">
        <h2>Ingresá acá tus datos personales</h2>

        <form name="formStep1" novalidate ng-submit="step1.goStep2(formStep1)" class="form">

            <div class="form-item">
                <input name="name" class="form__field" type="text" ng-model="step1.operations.formStep1.name" ng-blur="step1.onFieldsBlur()"
                    placeholder="Nombre" required validation="onlyLetters" validate-me maxlength="30" />
            </div>

            <div class="form-item">
                <input name="lastName" class="form__field" type="text" required validation="onlyLetters" validate-me
                    maxlength="30" ng-model="step1.operations.formStep1.lastName" ng-blur="step1.onFieldsBlur()"
                    placeholder="Apellido" />
            </div>
            <div class="form-item">
                <input name="nationality" class="form__field" type="text" ng-model="step1.operations.formStep1.nationality"
                    ng-blur="step1.onFieldsBlur()" placeholder="Nacionalidad" required validation="onlyLetters"
                    validate-me maxlength="30" />
            </div>
            <div class="form-item">
                <select name="docType" class="form__field" ng-model="step1.operations.formStep1.docType" ng-blur="step1.onFieldsBlur()"
                    ng-options="option.id as option.value for option in step1.operations.dniSelect" required
                    validate-me>
                    <option value="" disabled selected>Tipo de documento</option>
                </select>
            </div>

            <div class="form-item">
                <input name="docNumber" class="form__field" type="text" ng-model="step1.operations.formStep1.docNumber"
                    ng-blur="step1.onFieldsBlur()" placeholder="Número de documento" required validation="onlyNumbersNotZero"
                    validate-me maxlength="20" />
            </div>

            <div class="form-item">
                <input name="mail" class="form__field" type="text" ng-model="step1.operations.formStep1.mail" ng-blur="step1.onFieldsBlur()"
                    placeholder="Tu correo" required validation="mail" validate-me maxlength="90" />
            </div>
            <div class="buttons">
                <button class="btn btn--primary btn--inside uppercase right" type="submit">Siguiente</button>
            </div>

        </form>
    </section>
</div>