<div class="step3">
    <div ng-if="step3.operations.loading" class="loader"></div>
    <section class="content container" ng-if="!step3.operations.loading">
        <h2>Gracias</h2>
        <p>Uno de nuestros operadores se estará contactando en breve. Podés realizar otra consulta haciendo <a ng-click="step4.goStep1()">click acá</a></p>
    </section>
    
</div>