<div class="step3">
    <div ng-if="step3.operations.loading" class="loader"></div>
    <section class="content container" ng-if="!step3.operations.loading">
        <h2>¿Querés dejarnos alguna consulta?</h2>

        <form name="formStep3" novalidate ng-submit="step3.confirm(formStep3)" class="form">
            <div class="form-item">
                <textarea name="message"  class="form__field" ng-model="step3.operations.formStep3.message" ng-change="step3.onFieldsBlur()"
                validate-me ></textarea>
                <div span-error ng-if="formStep3.message.$invalid && (formStep3.message.$touched || formStep3.$submitted)"
                    model="formStep3.message.$name" errors="formStep3.message.$error"></div>
            </div>

            <div class="form-item ">
                <input type="checkbox"  ng-change="step3.onFieldsBlur()" id="newsletter" ng-model="step3.operations.formStep3.newsletter">
                <label for="newsletter" >Deseo recibir novedades mensualmente</label>
            </div>



            <div class="buttons">
                <button class="btn btn--primary btn--inside uppercase" type="button" ng-click="step3.goStep2()">Volver</button>
                <button class="btn btn--primary btn--inside uppercase" type="submit">Enviar</button>
            </div>
     
        </form>

    </section>
    
</div>